<!DOCTYPE html>
<html lang="en">

{% load static %}
<style>
.disabled {
        color:red;

    }
</style>
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="{% static 'css/font-face.css" rel="stylesheet' %}" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="{% static 'images/logo.png' %}" alt="" style="width: 140px; height: 50px;">
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="active has-sub">
                            <a class="js-arrow" href="{% url 'investor_personal_information' %}"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                        <li>
                        <a href="{% url 'investor_profile' %}">
                                <i class="fas fa-chart-bar"></i>Profile</a>
                        </li>
                        <li>
                            <a href="{% url 'requestlandpage' %}">
                                <i class="fas fa-chart-bar"></i>Request</a>
                        </li>
                        <li>
                            <a href="{% url 'feedbacklist' %}">
                                <i class="fas fa-chart-bar"></i>Feed backs</a>
                        </li>
                        <li>
                            <a href="{% url 'chatpage'  %}">
                                <i class="fas fa-table"></i>Chat</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="far fa-check-square"></i>Statussss</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="far fa-check-square"></i>Report</a>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="{% url 'investor_personal_information' %}"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                        <li>
                        <a href="{% url 'investor_profile' %}">
                                <i class="fas fa-chart-bar"></i>Profile</a>
                        </li>
                        <li>
                            <a href="{% url 'requestlandpage' %}" onclick="disable(this)">
                                <i class="fas fa-chart-bar"></i>Request</a>
                        </li>
                        <li>
                            <a href="{% url 'chatpage'  %}">
                                <i class="fas fa-table"></i>Chat</a>
                        </li>
                        <li>
                            <a href="{% url 'feedbacklist' %}">
                                <i class="fas fa-chart-bar"></i>Feed backs</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="far fa-check-square"></i>Status</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="far fa-check-square"></i>Report</a>
                        </li>

                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <script>
            function disable(x){
                x.disable=true;
            }
        </script>

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                <div class="noti-wrap">
                                    <div class="noti__item js-item-menu">
                                       <i class="zmdi zmdi-comment-more"></i>
                                        <span id="msg_count" class="quantity"></span>
                                        <div class="mess-dropdown js-dropdown">
                                            <div class="mess__title">
                                                <a href="{% url 'chatpage' %}">  <p id="unr"></p></a>
                                            </div>
                                            </div>
                                        
                                    </div>
                                    
                                    <div  class="noti__item js-item-menu">
                                        <i id ='iclick' onclick="makeallnotseen()" class="zmdi zmdi-notifications"></i>
                                        <span id="count" class="quantity"></span>
                                        <div id="notify"  class="notifi-dropdown js-dropdown">
                                            <div class="notifi__title">
                                                <p id="cou"></p>
                                            </div>
                                            <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

                                            <script>
                                                const makeallnotseen = async ()=>{
                                                    await fetch('/api/makeallseennotification/');
                                                }
                                            </script>
                                            <div class="notifi__item">
                                                <div class="bg-c2 img-cir img-40">
                                                    <i class="zmdi zmdi-account-box"></i>
                                                </div>
                                                <div class="content">
                                                    <p>Your account has been blocked</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c3 img-cir img-40">
                                                    <i class="zmdi zmdi-file-text"></i>
                                                </div>
                                                <div class="content">
                                                    <p>You got a new file</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__footer">
                                                <a href="#">All notifications</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    $(document).ready(function(){
                                    setInterval(function(){
                                        $.ajax({
                                            type: 'GET',
                                            url : "/api/getnotification/{{request.user.id}}",
                                            success: function(response){
                                                co=0
                                                $("#notify").empty();
                                                for (var key in response)
                                                {       console.log("data",response[key].note_text);
                                                        if ( response[key].seen) {
                                                            console.log("yes",response[key].seen)
                                                        }
                                                        else{
                                                            co+=1;
                                                        }
                                                        var temp='<div class="notifi__item"><div class="bg-c1 img-cir img-40"><i class="zmdi zmdi-email-open"></i></div><div class="content"><p><a href=' + response[key].link +'>'+ response[key].note_text + '</a></p><span class="date">April 12, 2018 06:50</span></div></div>';
                                                    
                                                    $("#notify").append(temp);
                                                }
                                                document.getElementById('count').innerHTML=co;
                                                if (co == 0){
                                                    document.getElementById('count').style.display='none';
                                                }

                                            },
                                            error: function(response){
                                                console.log("error ocurred bro")
                                            }
                                        });


                            
                                        $.ajax({
                                            type: 'GET',
                                            url : "/api/getunseenchat",
                                            success: function(response){
                                                if(response[0].unseen_count != 0){
                                                    document.getElementById('msg_count').innerHTML=response[0].unseen_count
                                                    document.getElementById('unr').innerHTML="You have " +response[0].unseen_count + " unread message click to see";

                                                }
                                                else{
                                                    document.getElementById('msg_count').style.display='none';
                                                    document.getElementById('unr').style.display='none';
                                                }
                                                
                                            }
                                            
                                        });

                                        },1000);
                                     })
                                    </script>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">{{request.user.username}}</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">john doe</a>
                                                    </h5>
                                                    <span class="email">johndoe@example.com</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>Account</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-money-box"></i>Billing</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="{% url 'logout' %}">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

