
{% include 'ipdc/investor_dashboard/header.html' %}
{% load static %}
    
    <!-- MAIN CONTENT-->
    

    {% block content %}
   

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Quick Example</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              
            </div>
            <!-- /.card -->
            <h2>Well Come</h2>
              <h2>Well Come</h2>

              <h2>Well Come</h2>

              <h2>Well Come</h2>

            <!-- general form elements -->
            
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->



{%endblock%}
<!-- jQuery -->

{% include 'ipdc/investor_dashboard/footer.html' %}
