{% include 'ipdc/Park_admin_dashboard/header.html' %}
<style>
    section{
        margin-left: 5%;
        margin-top: 3%;
    }
    .hea{
        font-family: 'Times New Roman', Times, serif;
        padding: 2%;
    }
    .hea h4{
        color: rgb(27, 88, 201);
    }
</style>

<section>
    <div class="hea">
        <h4>List of all proposals</h4>
    </div>
    <div class="card w-85">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="{% url 'pdfviewer' %}" class="btn btn-primary">view</a>
        </div>
    </div>
</section>

{% include 'ipdc/Park_admin_dashboard/footer.html' %}


